<!doctype html>
<html lang="en" style="height: 100%">
  <head>
    <meta charset="utf-8">
    <title>TODO App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TODO app UI">
    <meta name="theme-color" content"#f3a537">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <div id="app">
    </div>
  </body>
</html>
